<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div
        class="bordered"
        style=" width: 350px;
            height: 370px;
            padding: 30px;
            border: 1px solid #91917f;
            border-radius: 8px;
            color: black;"
>
    <div align="center">
    </div>
    <br />
    <br />
    <div style="color: #5F5F5F" >
        <p align="center">Obavestenje o zakazanom pregledu ${nazivPregleda} u klinici ${klinika},</p>
        <p align="center">Vidimo se u ${vreme}</p>
        <p align="center">Pregledace vas lekar <b>${lekar}</b></p>
    </div>
    <br />
</div>
</body>
</html>
